html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageItem{
  height: 25vw;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  /* image-rendering: pixelated; */
}
.imageItem img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 21%;
}
.imageItemWrapper{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 5px;
  justify-items: center;
}

.img-placeholder{
  background: grey;
  width: 100%;
  height: 100%;
}