@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.imageItem{
  height: 100px;
}
.imageItem .image-item-image{
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  height: 100px;
  object-position: 50% 21%;
}
.album-image-item{
  position: relative;
}
.imageItem .image-item-image.album-image-item{
  height: 85%;
  bottom:-15%;
}
.imageItemWrapper{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  gap: 3px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(1, 120px);
  grid-auto-flow: dense;
}
.imageItem{
  /* width: 100%; */
  image-rendering:optimizeSpeed;
  cursor: pointer;
  display: inline-block;
}
.img-placeholder{
  background: grey;
  width: 100%;
  height: 100%;
}
.image-viewer{
  height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.checker-wrapper{
  transition: all .3s;
  height: 20%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.checked-image-item{
  background-color: #00fc3ba1;
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
}
.album-wrapper{
  position: relative;
  top:-100%;
}
.checked-album-wrapper{
  z-index: -1;
}
.image-viewer-image-holder div{
  overflow: visible;
}
.image-viewer-image{
  height: 100vh;
  width: auto;
}
.navigation-image{
  object-position: 50% 21%;
  object-fit: cover;
  border-radius:8px;
  width:100px;
  height:57px;
}
code{
  background: #8080803d;
  border-radius: 3px;
  padding: 5px 6px;
  font-size: 13px;
  opacity: 0.8;
}